<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <h2>
    Here is our current blockchain:
  </h2>
  {{ blockchain }}
</div>
<div>
  <h2>Blockchain State:</h2>
  <div *ngIf="cryptoSvc.cryptoChain.isChainValid; else invalidBlockChain">
    Chain is in a <b>valid</b> state.
  </div>
  <ng-template #invalidBlockchain>Chain is in an <b>invalid</b> state.</ng-template>
</div>